<!-- url_for function from Flask generates correct paths for css and js files -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <!--<link rel="stylesheet" href="../css/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="video-container">
        <video id="videoPlayer" class="responsive-video" src="{{ url_for('static', filename='AmazonFilters.mp4') }}"controls style="display:none;" ></video>
    </div>
    
    <div id="transcript-container" style="height: 100px; overflow-y: auto;">
        <div id="transcript"></div>
    </div>
   
    <h2>Upload Video</h2>
    <form id="uploadForm" action="http://localhost:5000/upload-video" method="POST" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <input type="submit" value="Upload">
    </form>

    <!--<script src="../js/script.js"></script>-->
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    <script src="../static/js/videoAudioDisplay.js"></script>
</body>
</html>